{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% for post in posts %}
            
            <div class="card mb-4 mt-4 text-center" >
                <div class="card-title">
                    <strong>
                        <h2 class="m-3">{{ post.user }}</h2>
                    </strong>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <a href="{% url 'post-detail' post.id %}" class="article-title">
                            <div>
                                <img src="{{ post.image.url }}" width="700" height="700"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ml-4">
                    <a class='info' href="{% url 'likePost' post.pk %}">
        
                        {%if post.likes.id == user.id%}
                        <i class="far fa-heart fa-2x text-black"></i>
                        {%else%}
                        <i class="far fa-heart fa-2x text-black"></i>
                        {%endif%}
                    </a>
                    <span style="font-size:25px;">{{post.likes.count}}</span>
        
                    <i class="far fa-comment fa-3x ml-5 text-black"></i>
                    <p>{{ post.caption }}</p>
                    <p>{{ post.date_posted|timesince}} AGO</p>
                </div>
                
            </div>
        
            {% endfor %}
        </div>
        
    </div>

<div class="col-md-4">

        <div class="row">
                <img class="col-md-6 account-img" src="{{ user.profile.image.url }}" width="100" height="100">
                <span class="col-md-6 mt-5  text-secondary username" >
                    <h1>{{ user.username }}</h1>
                </span>
            </div>

    <div  class="col-md-4 m-2" >
        <a href="{% url 'post-create' %}" style="color: black">
            <!-- <button class="btn btn-success" type="submit"> -->
            <i class="fa fa-plus-square fa-5x text-success" aria-hidden="true"></i>
        <h3 class="">Upload</h3>
        </button>
         </a>
    </div>
</div>

</div>
{% endblock %}